.active{
    position: sticky;
  top: 0;
  left: 0;
  background-color: rgba(0 0 0 /20%);
  
  box-shadow: 0 2px 28px rgba(0 0 0 /6%);
  width: 100%;
  z-index: 10;
  transition: all 1s;
}
.h-wrapper{
    background: var(--black);
    color: white;
}
.h-container{
    justify-content: space-between;
    padding-top: 1rem;
    padding-bottom: 1rem;
    color: var(--secondary);
}
.h-menu{
    gap: 2rem;
}
.h-menu>*:hover{
    cursor: pointer;
    font-weight: 600;
}