.v-container .image-container{
    border: 8px solid rgba(232 232 232 / 93%);
}
.image-container img{
    width: 100%;
    height: 100%;
}
.v-container div{
   
    flex: 1;  
}
.v-right{
    gap: 0.5rem;
}
.v-wrapper{
    background: var(--secondary);
}